extends ../layout

block content
  h2.page-header 添加文章

  if errors && errors.length
    div.errors
      each error in errors
        p.alert.alert-danger= error.msg

  form.vertical-form(method="post", action=action)
    div.form-group
      input.form-control(name="title", placeholder="请输入标题...", value=post.title)
    div.form-group
      div.input-group
        select.form-control(name="category", required="true")
          option(value="") - 选择分类 -
          each category in categories
            option(value=category._id, selected=(category._id.toString() === post.category._id.toString()))= category.name
    div.form-group
      textarea#js-post-content.form-control(name="content", required="true")= post.content
    button.btn.btn-success(type="submit")= post ? '保存' : '发布'
block scripts
  script(src="/js/ckeditor/ckeditor.js")
  script(src="/js/admin/post.js")
