extends ../layout

block content
  h2.page-header 文章列表

  form#form-post-filter.form.form-inline
    div.btn-group
      label 分类
      select#js-category.input-sm.form-control(name="category")
        option(value="", selected=(filter,category === "")) - 选择分类 -
        each category in categories
          option(value=category._id, selected=(category._id.toString() === filter.category))= category.name
    div.btn-group
      label 关键词
      input#js-keyword.input-sm.form-control(name="keyword",type="text", value=filter.keyword)


    button#js-filter-submit.btn.btn-xs.btn-info(type="submit") 筛选


  table.table.table-bordered
    thead
      tr
        th(width="30%")
          if sortby === 'title'
            if sortdir === 'desc'
              a(href="/admin/posts?page=" + pageNum + "&sortby=title&sortdir=asc" + "&category=" + filter.category)
                i.fa.fa-arrow-down
                | &nbsp;标题
            else
              a(href="/admin/posts?page=" + pageNum + "&sortby=title&sortdir=desc" + "&category=" + filter.category)
                i.fa.fa-arrow-up
                | &nbsp;标题
          else
            a(href="/admin/posts?page=" + pageNum + "&sortby=title&sortdir=desc" + "&category=" + filter.category) 标题
        th 作者
        th
          if sortby === 'category'
            if sortdir === 'desc'
              a(href="/admin/posts?page=" + pageNum + "&sortby=category&sortdir=asc" + "&category=" + filter.category)
                i.fa.fa-arrow-down
                | &nbsp;分类
            else
              a(href="/admin/posts?page=" + pageNum + "&sortby=category&sortdir=desc" + "&category=" + filter.category)
                i.fa.fa-arrow-up
                | &nbsp;分类
          else
            a(href="/admin/posts?page=" + pageNum + "&sortby=category&sortdir=desc" + "&category=" + filter.category) 分类
        th
          if sortby === 'created'
            if sortdir === 'desc'
              a(href="/admin/posts?page=" + pageNum + "&sortby=created&sortdir=asc" + "&category=" + filter.category)
                i.fa.fa-arrow-down
                | &nbsp;添加时间
            else
              a(href="/admin/posts?page=" + pageNum + "&sortby=created&sortdir=desc" + "&category=" + filter.category)
                i.fa.fa-arrow-up
                | &nbsp;添加时间
          else
            a(href="/admin/posts?page=" + pageNum + "&sortby=created&sortdir=desc" + "&category=" + filter.category) 添加时间
        th 被赞
        th 评论
        th
          if sortby === 'published'
            if sortdir === 'desc'
              a(href="/admin/posts?page=" + pageNum + "&sortby=published&sortdir=asc" + "&category=" + filter.category)
                i.fa.fa-arrow-down
                &nbsp;状态
            else
              a(href="/admin/posts?page=" + pageNum + "&sortby=published&sortdir=desc" + "&category=" + filter.category)
                i.fa.fa-arrow-up
                &nbsp;状态
          else
            a(href="/admin/posts?page=" + pageNum + "&sortby=published&sortdir=desc" + "&category=" + filter.category) 状态
        th 管理
    tbody
      each post in posts
        tr
          td
            a(href="/posts/view/" + post._id, target="_blank", title=post.slug)= post.title
          td= post.author.name
          td= post.category.name
          td= moment(post.created).format('YYYY-MM-DD HH:mm:ss')
          td= post.meta.favourites || 0
          td= post.comments.length || 0
          td= post.published ? '已发布' : '待发布'
          td
            a(href="/posts/view/" + post._id, class="btn btn-sm btn-success", target="_blank") 查看
            &nbsp;&nbsp;
            a(href="/admin/posts/edit/" + post._id, class="btn btn-sm btn-info") 编辑
            &nbsp;&nbsp;
            a(href="/admin/posts/delete/" + post._id + "?page=" + pageNum, class="btn btn-sm btn-danger") 删除

  if pageCount > 1
    nav.pager
      ul.pagination.pagination-sm
        if pageNum > 1
          li
            a(href="/admin/posts?page=" + (pageNum - 1) + "&category=" + filter.category + "&sortby=" + sortby + "&sortdir=" + sortdir) &laquo;
        if pageNum > 4
          li
            a(href="javascript:void(0)") ...
        - var currentPage = start
        while currentPage <= end
          if currentPage === pageNum
            li.active
              a(href="/admin/posts?page=" + currentPage + "&category=" + filter.category + "&sortby=" + sortby + "&sortdir=" + sortdir)= currentPage++
          else
            li
              a(href="/admin/posts?page=" + currentPage + "&category=" + filter.category + "&sortby=" + sortby + "&sortdir=" + sortdir)= currentPage++
        if pageNum < pageCount - 3
          li
            a(href="javascript:void(0)") ...
        if pageCount > pageNum
          li
            a(href="/admin/posts?page=" + (pageNum + 1) + "&category=" + filter.category + "&sortby=" + sortby + "&sortdir=" + sortdir) &raquo;

