extends layout

append css
  link(rel="stylesheet", href="/components/github-markdown-css/github-markdown.css")
  link(rel="stylesheet", href="/css/markdown.css")

block content
  if messages.length
    p.alert.alert-success= messages
  if errors && errors.length
    div.errors
      each error in errors
        p.alert.alert-danger= error.msg
  h2.page-header.post-view-header #{post.title}
  div.post.post-view
    div.post-meta.view
      span.post-created
        i.fa.fa-calendar &nbsp;
        =moment(post.created).format('YYYY-MM-DD')
      span.post-category
        i.fa.fa-list &nbsp;
        a(href="/posts/category/" + post.category.name, target="_blank")
          =post.category.name
      span.post-comments
        i.fa.fa-comment &nbsp;
        =post.comments.length || 0
      span.post-favourite
        a(href="/posts/favourite/" + post._id)
          i.fa.fa-star &nbsp;
          =post.meta.favourites  || 0
    div.post-content.markdown-body
      != mdContent
      //- !=post.content

    a(name="reply" href="#")
    div.post-comments-block
      form.post-comment-form(action=action, method="post", enctype="application/x-www-form-urlencoded")
        if reply
          h3 添加回复
        else
          h3 添加评论
        div.form-group
          label(for="email") 名字
          input#alias.form-control(type="text", name="name", placeholder="请输入昵称...", required)
          input.hidden(type="text", name="to", value=to, readonly)
          input.hidden(type="text", name='s', value=s, readonly)
        div.form-group
          label(for="content") 内容
          if reply
            textarea.form-control(type="text", name="content", value=content, placeholder="对 " + to + " 回复...", required)
          else
            textarea.form-control(type="text", name="content", value=content, placeholder="在这里评论...", required)
        button#submit-comment.btn.btn-primary(type="submit") 提交

      div.post-comment-list
        h3 用户评论
        if post.comments.length
          - var i = 0, len = post.comments.length
          - for(i; i < len; i++)
            - var comment = post.comments[i]
            div.post-comment-item
              h4.post-comment-name
                i.fa.fa-user &nbsp;
                = comment.name
                small.pull-right= moment(comment.created).format('YYYY-MM-DD HH:mm:ss')
              p.post-comment-content= comment.content
              span.reply.pull-right
                a(href="/posts/view/" + post._id + "?to=" + comment.name + "&s="+ i +"#reply") 回复
              each sub in comment.subs
                div.sub-comment-item
                  h4.sub-comment-name
                    i.fa.fa-user
                    = sub.from + " 对 "
                    i.fa.fa-user
                    = sub.to + " 回复:"
                    small.pull-right= moment(sub.created).format('YYYY-MM-DD HH:mm:ss')
                  p.sub-comment-content= sub.content
                  span.sub-reply.pull-right
                    a(href="/posts/view/" + post._id + "?to=" + sub.from + "&s="+ i +"#reply") 回复
        else
          p.alert.alert-info 还没有人评论呢，赶快评论一个吧！

append scripts
  script(src="/components/Cookies/src/cookies.min.js")
  script(src="/js/comment_cookie.min.js")



















